.about-container {
  margin: 0 auto;
  text-align: center;
  background-color: #2a2a2a;
}

.about {
  max-width: 640px;
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 4rem;
  
}

.title,
.underline {
  display: none;
}

.second-paragraph {
  margin-top: 1em;
}
.about img {
  width: 100%;
  max-width: 350px;
  margin-top: 3rem;
}
.about h2 {
  text-transform: capitalize;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.about-text {
  line-height: 1.8;
  order: -1;
  max-width: 498px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}



@media (min-width: 1217px) {
  .about {
    max-width: 1200px;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 4rem;
    /* border: 1px solid red; */
  }

  .left-section,
  .title,
  .underline {
    display: block;
  }

  .about h2 {
    margin-bottom: 1.8rem;
    font-size: 1.5rem;
  }
  .underline {
    position: absolute;
    width: 120px;
    height: 3px;
    top: 40px;
    background-color: #38bdf8;
  }
  .about-text {
    /* border: 2px solid orange; */
    text-align: left;
    order: initial;
    line-height: 1.7;
    margin: 0;
    max-width: 600px;
  }
  .about-text p {
    font-size: 1.2rem;
  }

  .about img {
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0;
  }

}
