.navbar.scrolled {
  transition: 0.5s;
  background-color: rgb(51, 49, 49);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
  /* background-color: rgb(51, 49, 49); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 233434;
}

.logo {
  all: unset;
  display: flex;
  align-items: center;
}

.logo .logo-text {
  font-size: 1.8rem;
}
.logo-icon {
  font-size: 1.8rem;
}
.menu-btn.sm-nav-icon {
  display: flex;
  border: none;
  background: none;
}
.sm-nav-icon {
  font-size: 1.8rem;
  color: #fff;
}

.nav,
.theme-btn {
  display: none;
}

/* drawer */
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #2a2a2a;
  transform: translateX(-672px);
  transition: 0.4s ease-in-out;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: 343434;
}

.drawer-spacing {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.drawer-links{
  margin-top: 1.5rem;
}

.drawer li a {
  border: none;
  display: flex;
  align-items: center;
    font-size: 1.2rem;
  color: #fff;
  letter-spacing: 1.5px;
  padding: 0.5em;
}

.active {
  border-radius: 6px;
  background-color: #363535;
}

.drawer li svg {
  margin-right: 8px;
}

.close-btn {
  all: unset;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0 10px;
  letter-spacing: 0.1em;
  margin-top: 0.7em;
}

.close-btn svg {
  margin-right: 7px;
}

.drawer.open {
  transform: translateX(0);
}

.profile {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 2em;
}

.profile-name {
  font-size: 0.9rem;
}

.profile svg {
  font-size: 1.3rem;
}

.profile img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 1em;
  margin-bottom: 5px;
}

.profile .phone {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

@media (min-width: 700px) {

  .navbar .mobile-icon-nav, .drawer {
    display: none;
  }
  
  .theme-btn {
    display: flex;
    font-size:1.4rem;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    /* border: 1px solid orange; */

  }
 
  .logo .logo-text {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .logo-icon {
    font-size: 1.5rem;
  }
  .navbar {
    max-width: 1500px;
    margin: 0 auto;
    /* border: 1px solid blue; */
    justify-content: space-around;
    box-shadow: none;
    background-color: #202020;
    padding: 1.5rem;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
  }

  .nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    margin-right: 1.4rem;
    position: relative;
  }

  .nav a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #38bdf8;
    transition: all 0.5s;
  }

  .nav a:hover::before {
    width: 100%;
  }
}


@media (min-width:849px) {
  .nav{
    min-width: 35rem;
  } 
  .nav-link.activeLink::before {
    width: 100%;
  }
  .logo{
    cursor: pointer;
  }
}

