.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    max-width: 450px;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  

  /* my css */
  .hero-image {
    width: 450px;
    height: 450px;
  }